USE [master]
GO
/****** Object:  Database [CountryCityManagementSystemDB]    Script Date: 10/30/2016 8:35:34 PM ******/
CREATE DATABASE [CountryCityManagementSystemDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CountryCityManagementSystemDB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\CountryCityManagementSystemDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CountryCityManagementSystemDB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\CountryCityManagementSystemDB_log.ldf' , SIZE = 3456KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CountryCityManagementSystemDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CountryCityManagementSystemDB]
GO
/****** Object:  Table [dbo].[City]    Script Date: 10/30/2016 8:35:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[City](
	[cityId] [int] IDENTITY(1,1) NOT NULL,
	[cityName] [varchar](250) NOT NULL,
	[about] [text] NULL,
	[noOfDwellers] [float] NULL,
	[location] [varchar](20) NULL,
	[weather] [text] NULL,
	[countryId] [int] NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[cityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Country]    Script Date: 10/30/2016 8:35:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Country](
	[countryId] [int] IDENTITY(1,1) NOT NULL,
	[countryName] [varchar](250) NOT NULL,
	[about] [text] NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[countryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[ViewAllCityWithCountry]    Script Date: 10/30/2016 8:35:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ViewAllCityWithCountry]
AS
SELECT p.cityId,p.cityName,p.about as cityAbout,p.noOfDwellers,p.location
,p.weather,p.countryId as countryId,c.countryName,c.about as countryAbout
From city p INNER JOIN Country c ON
p.countryId=c.countryId




GO
/****** Object:  View [dbo].[ViewAllCountryInformation]    Script Date: 10/30/2016 8:35:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[ViewAllCountryInformation]

as select Country.countryId, countryName, Country.about, isnull(totalCities,0) "Total City", isnull(totalDwelers,0) "Total Dwellers"
from Country
full outer join

(select b.countryId,COUNT(b.cityId) as totalCities,SUM(b.noOfDwellers) as totalDwelers
from City b,Country a
where b.countryId=a.countryId
group by b.countryId) c
on Country.countryId=c.countryId



GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([cityId], [cityName], [about], [noOfDwellers], [location], [weather], [countryId]) VALUES (5, N'Pabna', N'<p><img src="../images/pabna.jpg" alt="pabna.jpg" /></p>
<p><span>Pabna District is a district in north-western Bangladesh. It is  the southern most district of Rajshahi Division. Its administrative  capital is eponymous Pabna town.</span></p>', 2000, N'Pabna District', N'Cool', 57)
SET IDENTITY_INSERT [dbo].[City] OFF
SET IDENTITY_INSERT [dbo].[Country] ON 

SET IDENTITY_INSERT [dbo].[Country] OFF
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [FK_City_Country] FOREIGN KEY([countryId])
REFERENCES [dbo].[Country] ([countryId])
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK_City_Country]
GO
USE [master]
GO
